<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.png">
        <span class="title">BasisSoa基础框架1.0</span>
      </div>
      <div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2019
      本代码特别鸣谢<a  target="_blank">老张、卡色、吴恒伟、杜焕登、阿ferried</a>
    </global-footer>
  </div>
</div>
